body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
  }
  h1{
    text-align: center;
  }
  
  .marketing-banner {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 250px;
    background: linear-gradient(135deg, #1abc9c 40%, #3498db);
    color: white;
    overflow: hidden;
    width: 970px;
    margin: auto;
  }
  
  .content {
    max-width: 500px;
  }
  
  .headline {
    font-size: 3rem;
    margin: 0 0 1rem;
  }
  
  .tagline {
    font-size: 1.5rem;
    margin: 0 0 2rem;
  }
  
  .cta-button {
    padding: 1rem 2rem;
    font-size: 1rem;
    color: white;
    background-color: #e74c3c;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .cta-button:hover {
    background-color: #c0392b;
  }
  
  .image-container {
    max-width: 300px;
  }
  
  .marketing-image {
    width: 100%;
    border-radius: 10px;
  }
  

  .vertical-banner {
    width: 300px;
    height: 600px;
    background: linear-gradient(135deg, #1abc9c 40%, #3498db);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin: 50px auto;
  }
  
  .banner-content {
    text-align: center;
    margin-top: 50px;
  }
  
  .banner-headline {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  
  .banner-tagline {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
  
  .banner-cta-button {
    padding: 10px 20px;
    font-size: 1rem;
    color: white;
    background-color: #e74c3c;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .banner-cta-button:hover {
    background-color: #c0392b;
  }
  
  .banner-image-container {
    margin-top: 20px;
  }
  
  .banner-image {
    width: 100%;
    border-radius: 10px;
  }
  